@font-face {
  font-family: "GrandCru-LightS";
  src: url('../utils/fonts/GrandCru-LightS.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 1, 10, 10, 2;
}

::-webkit-scrollbar-thumb {
  background: #47cab0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f8a74;
}

/* For Scrollbar edges to be square when at the top or bottom */
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:window-inactive {
  border-radius: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.secNavbar {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

hr {
  color: gray;
}

.offSign {
  background-color: #009B7B;
  height: 35px;
  text-align: center;
}

.offSign span {
  margin-top: 10px !important;
}

nav .navbar-brand {
  align-items: center;
}

.textLogo {
  font-size: 32px;
  font-family: "GrandCru-LightS", serif;
  padding-left: 5px;
  text-decoration: underline;
  text-decoration-thickness: 1.3px;
  text-underline-offset: 5px;
}

#pageLogo {
  margin-left: 30px;
  width: 65px;
  height: 65px;
}

.form {
  align-items: end;
}

.titleText {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-family: "GrandCru-LightS", serif;
  flex-grow: 1;
  margin-top: 5px;
}

.subText {
  color: rgb(133, 128, 128);
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

nav .navbar-collapse form button.btn {
  margin-left: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

nav .navbar-collapse form button.btn:hover {
  color: #498f5b;
}

nav .navbar-collapse form button.btn i {
  font-size: 25px !important;
  margin-right: 10px;
}

nav .navbar-collapse form {
  margin-left: auto;
}

button.shopButton {
  font-size: 23px;
  color: #565353;
  margin-right: 2%;
}

button.shopButton span {
  font-size: 16px;
}

button.shopButton:hover {
  color: #498f5b;
}

/* Modales */

/* Buscador */
.modalContent {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

#modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 1050;
  display: none;
}

#searchModalContainer {
  background-color: transparent; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1051;
}

.searchModalContainer {
  position: relative;
  background: linear-gradient(135deg, rgb(191 223 202) 0%, rgb(147 181 155) 100%);
  border-radius: 1000px;
  padding: 10px;
  display: grid;
  place-content: center;
  z-index: 0;
  max-width: 300px;
  margin: 0 10px;
}

.search-container {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(186 231 202) 0%, rgb(181 227 192) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after,
.search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(95 179 87) 0%, rgb(211, 255, 213) 100%);
  box-shadow: rgb(164 191 162 / 70%) 3px 3px 5px 0px, rgb(143 213 164 / 70%) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgb(218, 247, 227) 0%, rgb(214, 247, 227) 100%);
  border: none;
  color: #217019;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(239, 255, 242) 0%, rgb(214, 247, 220) 100%);
}

.search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.search__icon:active {
  transform: scale(105%);
  transition: all 0.2s;
}

.search__icon:not(active) {
  transform: scale(100%);
  transition: all 0.2s;
}

.search__icon path {
  fill: white;
}

/* Información de Envío*/

.title {
  font-size: 28px;
  color: rgb(87 161 83);
  font-weight: 500;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: rgb(87 161 83);
}

.title::before {
  width: 18px;
  height: 18px;
  background-color: rgb(87 161 83);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.infoBody {
  border: none;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
}

.infoBody form div input {
  background-color: #fff;
  border-radius: .375em;
  min-height: 48px;
}

.infoBody form div select {
  background-color: #fff;
  border-radius: .375em;
  min-height: 48px;
}

.infoBody form div select:focus {
  box-shadow: 0 0 0 2px #79db7e;
  outline: none;
}

.infoBody form div input:focus {
  box-shadow: 0 0 0 2px #79db7e;
  outline: none;
}

.infoBody form div textarea:focus {
  box-shadow: 0 0 0 2px #79db7e;
  outline: none;
}

.infoBody form div input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.infoBody form div label {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin-left: 5px;
}

#trabajo, #casa {
  min-height: 0;
  box-shadow: none;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.infoContent {
  border: none;
  border-radius: 15px;
}

.formInfoButton {
  position: relative;
  place-items: initial;
  border-radius: 8px;
  background-color: #45c26f;
  border-color: #45c26f;
  color: #fff;
}

.formInfoButton:hover {
  background-color: #45c26f;
  border-color: #45c26f;
  color: #fff;
  transition: all 0.3s;
  scale: 1.05;
}

.formInfoButton:not(:hover) {
  transition: all 0.3s;
  scale: 1;
}

/******************************/

.linea {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #b3aaaa;
}


.catContainer {
  margin-top: -10px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 2px rgba(177, 174, 174, 0.4);

}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#navbarButton {
  border: none !important;
}

button.catButton {
  border-color: transparent;
}

button.catButton span {
  font-family: serif;
  font-size: 16px;
}

.catText {
  font-size: 12px;
}

.subText {
  font-size: 10px !important;
}

.linea {
  background-color: #ccc;
  margin-top: 0;
  width: 100%
}

.catText {
  font-size: 14px;
}

.catText:hover {
  transition: all 0.2s;
  color: #498f5b;
}

.catText:not(:hover) {
  transition: all 0.2s;
  color: black;
}

/* Body inicio.html */
.infoContainer {
  background-color: #F9F8F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: -20px;
  margin-top: -13px;
  height: 150px;
}

.infoText {
  margin-top: 15px;
  margin-bottom: 10px;
}

.infoTitle {
  font-family: 'Poppins' sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #4A9F81;
}

.infoDesc {
  font-size: 15px;
  color: #858585;
}

.infoButton {
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px 30px;
  border-radius: 2px;
  border: 2px solid #4DD7C9;
  background-color: #4DD7C9;
  color: #fff;
  font-size: 15px;
  transition: all 0.3s; 
  white-space: nowrap; 
}

.infoButton:hover {
  background-color: #fff;
  color: #4DD7C9;
}


#searchButton {
  background-color: transparent;
  border: none;
  margin-right: 8px;
}

.mainContainer {
  padding: 20px;
}

.mainTextContainer {
  font-family: "GrandCru-LightS", serif;
  margin-top: 3%;
  margin-left: 6%;
}

.mainTextContainer h1 {
  font-size: 40px;
  font-weight: 900;
  color: #0AAA82;
}

.mainTextContainer p {
  font-size: 15px;
  color: #8f8585;
}

.mainButton {
  width: 21%;
  margin-top: 5%;
}

.lineaDiv {
  max-width: 300%;
  width: 105%;
  color: #ccc;
  margin-left: 20px;
  margin-top: 0;
}

.dropdown-menu {
  max-width: 5% !important;
  margin-left: 25px !important;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  border: none;
}

.dropdown-toggle::after {
  display: none;
}

.dropdoown {
  font-size: 14px;
  padding: 8px;
}

.dropdown-item.active {
  background-color: #009A7B;
  color: #fff;
}

.dropdoown:hover {
  background-color: #009A7B;
  cursor: pointer;
}

.planta {
  width: 24%;
  margin: 5px;
  padding: 0px;
  text-align: center;
  display: inline-block;
  gap: 1rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.planta-container {
  position: static;
  width: 90%;
  height: 480px;
  overflow: hidden;
  margin: 20px;
}

.planta-name {
  font-family: 'Poppins', sans-serif;
  display: block;
  text-align: left;
  margin-top: 15px;
}

.planta-scientific {
  display: block;
  text-align: left;
  margin-top: 5px;
}

.planta-container img {
  width: 100%;
  height: 80%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

/* Modal de las plantas */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal__close:hover,
.modal__close:focus {
  color: black;
  text-decoration: none;
}

/* Responsive */
@media screen and (max-width: 375px) {

  .offSign {
    text-align: center;
  }

  .logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pageLogo {
      max-width: 12%;
      height: auto;
  }

  #navbarToggler {
    margin-top: 10px;
  }

  .textLogo {
      text-align: center;
  }

  .textContainer {
    font-size: 15px;
  }

  .navbar-brand span {
    padding-left: 0%;
    padding-top: 100%;
  }

  .infoContainer {
    margin-top: 0;
    padding-bottom: 0;
  }

  .linea {
    width: 100%;
    margin-top: 0%; 
    padding-bottom: -30%;
  }

  .navbar-collapse {
    margin-bottom: -20px;
  }

  nav .navbar-collapse form button span {
    font-size: 13px;
  }

  button.btn {
    margin: 0;
    border-color: none;
    justify-content: center;
  }

  nav .navbar-collapse form button.btn i {
    display: none;
  }

  button.shopButton {
    position: relative;
    margin-top: -80%;
    font-size: 17px;
    margin-left: 85%;
    border-color: transparent;
    padding: 4px 4px;
  }

  .catContainer {
    padding-bottom: 10px;
  }

  button.catButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: transparent;
  }
  
  .mainTextContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .filterContainer {
    order: 1;
    margin-bottom: 15px;
  }
  
  .plantasContainer {
    order: 2;
  }

  .mainButton {
    align-items: center;
  }

  .infoContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
    height: 210px;
  }

  .infoTitle {
    font-size: 18px;
    font-family: 'Poppins' sans-serif;
    font-weight: bold;
    margin-left: -35px;
    padding-left: 35px;
    color: #4A9F81;
    
  }

  .infoDesc {
    font-size: 12px;
  }

  .infoButton {
    width: 64% !important;
    margin-top: 15px !important;
  }

  .filterContainerButton {
    margin-top: 6% !important;
  }

  .mBtn1 {
    margin-top: -20% !important;
    margin-left: -4% !important;
    width: 55% !important;
  }

  .mBtn2 {
    margin-top: 3% !important;
    margin-left: -55.6% !important;
  }

  .mainVentaContainer {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
  }

  .planta-contenedor {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 20px;
  }

  .planta {
    width: 90%;
    margin: 0px;
    margin-left: 20px;
    padding: 0px;
    text-align: center;
    display: inline-block;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  }

  .planta-image {
    border-radius: 5px;
  }
}

@media (max-width: 992px) {
  .mainContainer {
    padding: 0;
  }

  .col-lg-3 {
    display: none;
  }

  .col-lg-9 {
    width: 100%;
  }
}
