@font-face {
  font-family: "GrandCru-LightS";
  src: url('../utils/fonts/GrandCru-LightS.otf') format('opentype');
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.secNavbar {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
}

hr {
  color: gray;
}

.offSign {
  background-color: #009B7B;
  height: 35px;
  text-align: center;
}

.offSign span {
  margin-top: 10px !important;
}

nav .navbar-brand {
  align-items: center;
}

.textLogo {
  font-size: 32px;
  font-family: "GrandCru-LightS", serif;
  padding-left: 30px;
  text-decoration: underline;
  text-decoration-thickness: 1.3px;
  text-underline-offset: 3px;
}

.form {
  align-items: end;
}

.titleText {
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-family: "GrandCru-LightS", serif;
  flex-grow: 1;
  margin-top: 5px;
}

.subText {
  color: rgb(133, 128, 128);
  font-size: 13px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
}

nav .navbar-collapse form button.btn {
  margin-left: 5px;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

nav .navbar-collapse form button.btn:hover {
  color: #498f5b;
}

nav .navbar-collapse form button.btn i {
  font-size: 25px !important;
  margin-right: 10px;
}

nav .navbar-collapse form {
  margin-left: auto;
}

button.shopButton {
  font-size: 23px;
  color: #565353;
  margin-right: 2%;
}

button.shopButton span {
  font-size: 16px;
}

button.shopButton:hover {
  color: #498f5b;
}

/* Modales */

.modal-content {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.modal-body {
  color: transparent;
}

#modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  z-index: 1050;
  display: none;
}

/* Estilo adicional para el contenedor del modal */
#searchModalContainer {
  background-color: transparent; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1051;
}

.searchModalContainer {
  position: relative;
  background: linear-gradient(135deg, rgb(191 223 202) 0%, rgb(147 181 155) 100%);
  border-radius: 1000px;
  padding: 10px;
  display: grid;
  place-content: center;
  z-index: 0;
  max-width: 300px;
  margin: 0 10px;
}

.search-container {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background: linear-gradient(135deg, rgb(186 231 202) 0%, rgb(181 227 192) 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after,
.search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, rgb(218, 232, 247) 0%, rgb(255, 255, 255) 100%);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background: linear-gradient(0deg, rgb(95 179 87) 0%, rgb(211, 255, 213) 100%);
  box-shadow: rgb(164 191 162 / 70%) 3px 3px 5px 0px, rgb(143 213 164 / 70%) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, rgb(218, 247, 227) 0%, rgb(214, 247, 227) 100%);
  border: none;
  color: #217019;
  font-size: 20px;
  border-radius: 50px;
  margin-right: 5px;
}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(239, 255, 242) 0%, rgb(214, 247, 220) 100%);
}

.search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}

.linea {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 1px;
  background-color: #b3aaaa;
}

.search__icon:active {
  transform: scale(105%);
  transition: all 0.2s;
}

.search__icon:not(active) {
  transform: scale(100%);
  transition: all 0.2s;
}

.search__icon path {
  fill: white;
}

.catContainer {
  margin-top: -10px;
  padding-bottom: 5px;
  box-shadow: 0px 2px 2px rgba(177, 174, 174, 0.4);

}

button.catButton {
  border-color: transparent;
}

button.catButton span {
  font-family: serif;
  font-size: 16px;
}

.catText {
  font-size: 12px;
}

.subText {
  font-size: 10px !important;
}

.linea {
  background-color: #ccc;
  margin-top: 0;
  width: 100%
}

.catText {
  font-size: 14px;
}

.catText:hover {
  transition: all 0.2s;
  color: #498f5b;
}

.catText:not(:hover) {
  transition: all 0.2s;
  color: black;
}

/* Body inicio.html */
.infoContainer {
  background-color: #FAF8F6;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  padding-bottom: 0;
  margin-top: -13px;
}

.infoText {
  margin-top: 0;
}

.infoTitle {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: -13%;
  color: #4A9F81;
}

.infoDesc {
  font-size: 13px;
  max-width: 5px;

}

.infoButton {
  font-family: Arial, Helvetica, sans-serif;
  width: 12% !important;
  height: 35px !important;
  border-radius: 0% !important;
  border-color: #4DD7C9 !important;
  background-color: #4DD7C9 !important;
  margin-top: -6%;
  margin-left: 22%;
  font-size: 14px !important;
  color: #fff !important;
}

.infoButton:hover {
  filter: brightness(101%);
}

.mainTextContainer {
  font-family: "GrandCru-LightS", serif;
  margin-top: 3%;
  margin-left: 6%;
}
.mainTextContainer h1 {
  font-size: 40px;
  font-weight: 900;
  color: #0AAA82;
}

.mainTextContainer p {
  font-size: 15px;
  color: #8f8585;
}

.resetFilter {
  margin-left: 70%;
  margin-top: -4.5%;

}

.lineaDiv {
  width: 95%;
  color: #ccc;
  margin-top: -20px;
}

/* Responsive */
@media screen and (max-width: 375px) {
  .offSign {
    text-align: center;
  }

  .textContainer {
    font-size: 15px;
  }

  .navbar-brand span {
    padding-left: 20%;
    margin-bottom: -125px;
  }

  .linea {
    width: 100%;
    margin-top: 0%; 
    padding-bottom: -30%;
  }

  nav .navbar-collapse form button span {
    font-size: 13px;
  }

  button.btn {
    margin: 0;
    border-color: #009B7B;
    justify-content: center;
  }

  nav .navbar-collapse form button.btn i {
    display: none;
  }

  button.shopButton {
    position: relative;
    margin-top: -90%;
    font-size: 17px;
    margin-left: 85%;
    border-color: transparent;
    padding: 4px 4px;
  }

  .catContainer {
    padding-bottom: 10px;
  }

  button.catButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-color: transparent;
  }

  .infoContainer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
  }

  .infoTitle {
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-left: -13%;
    padding-left: 35px;
    color: #4A9F81;
  }

  .infoDesc {
    font-size: 12px;
  }

  .infoButton {
    width: 64% !important;
    margin-top: 15px !important;
  }
}